.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

.btn--form {
    width: 100%;
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

btn {
    width: 1200px;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(183, 165, 230);
    max-width: 1000px;
    min-height: 300px;
    border-radius: 20px;
    padding: 30px 50px;
}

.popup__close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.popup_title {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
}
